body {
    margin:0;
    background-color: #FFD1C2;
    font-family: "Edu NSW ACT Foundation";
    font-size: 20px;
    text-shadow: 0 0 2px rgba(255,255,255,0.5)
}

header{
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    text-align: center;
    background-color: #fcc6b4;
    box-shadow: -3px 5px 5px rgba(0,0,0,0.5);
    z-index: 1;
}

.paghover{
    filter: grayscale(100%);
}

main {
    display: flex;
    margin-top: 95px;
}

.login {
    height: calc(100vh - 96px);
}

.container {
    position: relative;
    width: 505px;
    margin: auto;
}

.information {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.loading {
    border-top: solid 2px black;
    border-right: solid 3px transparent;
    animation: spin 2s linear infinite;
}

.error {
    font-size: 11px;
    text-align: center;
    background-color: rgb(255,150,150);
    color: red;
}

.error::before {
    content: "\274C";
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -3px 5px 5px rgba(0,0,0,0.5);
    background-color: #fcc6b4;
}

label:hover {
    cursor: pointer;
}

input, button, select {
    background-color: #fff;
    border: none;
    border-bottom: solid 1px rgb(0,0,50);
    border-radius: 10px;
    outline: none;
    width: 200px;
    min-width: 200px !important;
    transition: background-color 1s ease-in-out;
}

.filled {
    background-color: #bafcb4;
}

.warning {
    width: auto !important;
}

input:hover, input:focus, input:focus-visible, button:hover, button:focus, button:focus-visible, select:hover, select:focus, select:focus-visible {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    outline: none;
    cursor: pointer;
}

.radioIn, .radioIn:hover, .radioIn:focus, .radioIn:focus-visible {
    width: 13px !important;
    box-shadow: none;
}

hr {
    width: 90%;
    margin: auto;
    height: 1px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.help {
    font-size: 15px;
    opacity: 0.2;
    text-shadow: 0 0 3px #FFD1C2;
    cursor: help;
    transition: opacity 1s ease-in-out;
}

.help:hover {
    opacity: 1;
}

@media only screen and (max-width: 505px) {
    header {
        height: 160px;
    }
    main {
        margin-top: 190px;
    }
    .container {
        width: 100%;
    }
}

.author {
    font-family: monospace;
    font-size: 10px;
    background-color: transparent;
    color: transparent;
    position: fixed;
    text-align: center;
    height: 25px;
    top: -30px;
    transition-duration: 1s;
    z-index: 2;
}

.author:hover {
    background-color: black;
    color: white;
}

.authorShow {
    top: 0px;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}