body {
    margin:0;
    color: white;
    background-color: #450009;
    font-family: "Edu NSW ACT Foundation";
    font-size: 20px;
    text-shadow: 0 0 2px rgba(255,255,255,0.5)
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-shadow: 0 0 5px white;
}

header{
    position: fixed !important;
    width: 100%;
    top: 0;
    text-align: center;
    z-index: 1;
    padding: 0 !important;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
    margin: auto;
}

.penis {
    width: 40px;
    height: 40px;
}

.profilePictureHeader {
    width: 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px white;
}

.paghover {
    filter: grayscale(100%);
}

.homeWrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-duration: 0.2s;
}

.homeWrapper:hover {
    background-color: white;
    box-shadow: 0 0 5px white;
}

.home {
    text-decoration: none;
    color: white;
    font-size: 40px;
    transition-duration: 0.2s;
}

.homeWrapper:hover .home {
    color: #660119;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 95px;
    width: 1250px;
}

.mainFullHeight {
    height: calc(100vh - 96px);
    overflow: hidden;
}

.sidebar {
    width: 250px;
}

.content {
    width: 607px;
}

.background {
    position: relative;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: -3px 5px 5px rgba(255,255,255,0.2);
    background-color: #660119;
}

.information {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.loading {
    border-top: solid 2px black;
    border-right: solid 3px transparent;
    animation: spin 2s linear infinite;
}

.error {
    font-size: 11px;
    text-align: center;
    background-color: rgb(255,150,150);
    color: red;
}

.error::before {
    content: "\274C";
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label:hover {
    cursor: pointer;
}

input, button, select {
    background-color: #fff;
    border: none;
    border-bottom: solid 1px rgb(0,0,50);
    border-radius: 10px;
    outline: none;
    width: 200px;
    min-width: 200px !important;
    transition: background-color 1s ease-in-out;
}

.hidden {
    display: none;
}

.filled {
    background-color: #bafcb4;
}

.selected {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color:#450009;
    text-shadow: 0 0 2px white;
}

.warning {
    width: auto !important;
}

input:hover, input:focus, input:focus-visible, button:hover, button:focus, button:focus-visible, select:hover, select:focus, select:focus-visible {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    outline: none;
    cursor: pointer;
}

.radioIn, .radioIn:hover, .radioIn:focus, .radioIn:focus-visible {
    width: 13px !important;
    box-shadow: none;
}

hr {
    width: 90%;
    margin: auto;
    height: 1px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.help {
    font-size: 15px;
    opacity: 0.2;
    text-shadow: 0 0 3px #450009;
    cursor: help;
    transition: opacity 1s ease-in-out;
}

.help:hover {
    opacity: 1;
}

@media only screen and (max-width: 1250px) {
    .headerContainer {
        width: 100%;
    }
    main {
        width: 100%;
    }
}
@media only screen and (max-width: 607px) {
    header {
        height: 160px;
    }
    main {
        margin-top: 190px;
    }
    .container {
        width: 100%;
    }
}

.loginFailWrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    z-index: 999; /* #lljw🕊 */
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.loginFail {
    background-color: #450009;
    text-align: center;
}

.author {
    font-family: monospace;
    font-size: 10px;
    background-color: transparent;
    color: transparent;
    position: fixed;
    text-align: center;
    height: 25px;
    top: -30px;
    transition-duration: 1s;
    z-index: 2;
}

.author:hover {
    background-color: black;
    color: white;
}

.authorShow {
    top: 0px;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}