# Default ignored files
/target/

/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/out/
/.idea/artifacts/offchat_highscore_jar.xml
/.idea/artifacts/unnamed.xml
/src/main/resources/application.properties
/src/main/resources/config.properties
